header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    padding: 10px 0;
}

main {
    margin: 20px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}